@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header h1{
    margin-top: -5px;
    padding-top: 20px;
    height: 65px;
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: #e12e5b;
}

.fDiv{
    /* display: inline-block; */
    border: 1px solid black;
    width: 30%;
    height: 50vh;
    float: left;
    background-color: #633f3f61;
}

.fDiv form {
    padding: 60px;
}

.fDiv form label{
    /* padding: 100px; */
    /* margin-bottom: 20px; */
}

.fDiv form button{
    background-color: #e12e5b;
    border: none;
    width: 90%;
    height: 12vh;
}

.fDiv form input{
    width: 40vh;
    border-radius: 5%;
    border: none;
    height: 5vh;
}

.sDiv{
    /* display: inline-block; */
    float: left;
    padding-left: 200px;
    background-color: #633f3f61;
    text-align: center;
}

.sDiv table tr,td{
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-align: center;

}

.mainTr{
    background-color: #e12e5b;
}

table button{
    width: 20px;
    height: 20px;
    background-color: #e12e5b;
    text-align: center;
    color: white;
}
